<div class="app-page-header">
  <nz-breadcrumb style="margin-bottom: 16px">
    <nz-breadcrumb-item>Home</nz-breadcrumb-item>
    <nz-breadcrumb-item>Chart</nz-breadcrumb-item>
    <nz-breadcrumb-item>Chart List</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div style="display: flex">
    <h1 style="margin-bottom: 16px">Chart List</h1>
  </div>
</div>

<div style="margin: 24px">
  <nz-card>
    <div style="margin-bottom: 16px">
      <button nz-button nzType="primary">
        <i class="anticon anticon-plus"></i>
        New
      </button>
    </div>
    <nz-table #chartTable [nzData]="dataSet">
      <thead>
      <tr>
        <th>Name</th>
        <th>Revision</th>
        <th>Updated</th>
        <th>Status</th>
        <th>Chart</th>
        <th>App version</th>
        <th>Namespace</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of chartTable.data">
        <td>{{data.Name}}</td>
        <td>{{data.Revision}}</td>
        <td>{{data.Updated}}</td>
        <td>{{data.Status}}</td>
        <td>{{data.Chart}}</td>
        <td>{{data.AppVersion}}</td>
        <td>{{data.Namespace}}</td>
        <td>
          <a>Upgrade</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a style="color: orange">Rollback</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a style="color: red">Delete</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>
