<nz-layout style="height: 100%">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate" [nzWidth]="'256'">
    <app-sider></app-sider>
  </nz-sider>
  <nz-layout style="min-height: 100vh">
    <nz-header style="padding: 0;margin: 0">
      <div style="height: 64px;width:100%;background: #fff; padding:0;box-shadow: 0 1px 4px rgba(0,21,41,.08);position: relative">
        <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed"
           (click)="toggle()"></i>
        <div style="float: right;height: 100%">
          <nz-dropdown style="margin-right: 20px;line-height: 64px">
          <span nz-dropdown style="display: inline-block;height: 64px">
            <nz-avatar nzText="USER"></nz-avatar>
            <span style="margin-left: 10px">用户名</span>
          </span>
            <ul nz-menu nzSelectable>
              <li nz-menu-item>
                <a>1st menu item</a>
              </li>
              <li nz-menu-item>
                <a>2nd menu item</a>
              </li>
              <li nz-menu-item>
                <a>3rd menu item</a>
              </li>
            </ul>
          </nz-dropdown>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer style="text-align: center;">Helm Dashboard ©2018 Implement By Saberuster</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i class="anticon anticon-up"></i>
</ng-template>
